* {
  box-sizing: border-box;
}

@font-face {
  font-family: Inter-Bold;
  src: url(../fonts/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Inter-Regular;
  src: url(../fonts/Inter-Regular.ttf);
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  position: relative;
  background-image: url(../css/picture1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 900px;
}

nav {
  display: flex;
  align-items: center;
  padding-top: 37px;
  padding-left: 42px;
}

nav .btn1 {
  background-color: #00000069;
  width: 418px;
  height: 47px;
  border: none;
  border-radius: 40px;
}

nav .menu {
  display: flex;
  list-style: none;
  margin-top: 10px;
  column-gap: 45px;
  padding: 0px 0px 0px 25px;
}

nav .btn1 {
  justify-content: center;
  margin-left: 330px;
}

.link {
  font-family: Inter-Bold;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.btn1 > a {
  text-decoration: none;
}
.litcont {
  margin-left: -80px;
}

.logo2 {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 100px;
  margin-right: 100px;
}

.youtube {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 300px;
}

.big_box {
  margin-top: 50px;
  height: 400px;
  width: 1200px;
  margin: auto;
  font-family: Inter-Bold;
  font-size: 19px;
}
 
h5{
  display: flex;
  margin-top: -5px;
}
.btn2 {
  width: 250px;
  height: 60px;
  background-color: #db0a40;
  border: none;
  border-radius: 5px;
}

.btn2 > span {
  color: #ffffff;
  font-family: Inter-Regular;
  font-size: 25px;
}

.card_group {
  margin-top: 55px;
  display: flex;
  gap: 33px;
}

.card {
  width: 141.34px;
  height: 98px;
}

.line {
  width: 85%;
  border: 2px solid #424242;
}

.combo {
  display: flex;
  width: 85%;
}

.loren {
  color: #000000;
  font-family: Inter-Bold;
  font-size: 13px;
}

.line_red {
  width: 70%;
  border: 2px solid #ff0000;
}
.line_gray {
  width: 30%;
  border: 2px solid gray;
}

.ipsum {
  color: #424242;
  font-family: Inter-Bold;
  font-size: 13px;
}

.dis {
  text-align: center;
  color: #000;
  text-align: center;
  font-family: Inter-Bold;
  font-size: 32px;
  font-style: normal;
}

.card_boxes1 {
  margin-left: 80px;
  display: flex;
}

.pic1 {
  position: absolute;
  margin-left: -450px;
  margin-top: 15px;
}

.bx1 {
  position: absolute;
  margin-top: -255px;
  margin-left: 15px;
  width: 420px;
  height: 235px;
  background-color: #0000004a;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

#text3 {
  text-align: center;
  margin-top: 60px;
  margin-top: 60px;
  color: #fff;
  text-align: center;
  font-family: Inter-Bold;
  font-size: 32px;
  font-style: normal;
}

#Lorm {
  margin-left: 30px;
  color: #fff;
  font-family: Inter-Regular;
  font-size: 13px;
  font-style: normal;
}

.bx1 > span {
  position: absolute;
  margin-left: 30px;
  margin-top: 40px;
  color: #fff;
  font-family: Inter-Bold;
  font-size: 13px;
  font-style: normal;
}

.bx1 .min {
  margin-left: 320px;
  color: #fff;
  margin-top: 37px;
  font-family: Inter1;
  font-size: 13px;
  font-style: normal;
}

.card_boxes2 {
  margin-left: 80px;
  display: flex;
}

#text4 {
  margin-top: 22px;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: Inter-Bold;
  font-size: 32px;
  font-style: normal;
}

.btn {
  margin: auto;
  width: 260px;
  height: 53px;
  color: #fff;
  margin-left: 620px;
  font-family: Inter-Bold;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  background-color: #212360;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

footer {
  width: 100%;
  height: 500px;
  background-color: #00162b;
  margin-top: 45px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
}

.top-nav > a {
  margin-left: 50px;
}

.list {
  display: flex;
  gap: 250px;
  margin-left: 35px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  font-family: Inter-Bold;
}

li {
  list-style: none;
}

.final_logos {
  display: flex;
  margin-left: 74px;
  gap: 10px;
}

p > span {
  color: #a6a6a6;
  font-family: Inter-Regular;
  font-size: 14px;
  font-style: normal;
}
